/* ::ng-deep  .modal-dialog { 
	max-width: 50%;
	width: 30%;
}

::ng-deep   .modal-body{
	overflow-y: auto;
	height: 330px;
	overflow-x: hidden;
}

  ::ng-deep  .modal-dialog{
    overflow-y: initial !important
} */

::ng-deep  .statemodalcontent { 
	width: 20%;
	height: 50%;
}

.colored{
	background-color: chartreuse;
}

.none{
	background-color: crimson;
}

.card-body{
	overflow-y: scroll;
	overflow-x: hidden;
	max-height: 500px; 
}
